<div class="auth-main">
  <div class="auth-content row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form [formGroup]="frm" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'has-error': firstName.invalid && (firstName.dirty || firstName.touched)}">
          <label>First Name</label>
          <input [formControl]="firstName" id="firstName" type="text" class="form-control" placeholder="First Name">
          <p class="form-error-message">
          <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.errors?.required">
              {{'error.firstname_required' | translate}}
            </span>
          </span>
          </p>
        </div>
        <div class="form-group" [ngClass]="{'has-error': lastName.invalid && (lastName.dirty || lastName.touched)}">
          <label>Last Name</label>
          <input [formControl]="lastName" type="text" class="form-control" placeholder="Last Name">
          <p class="form-error-message">
          <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.errors?.required">
              {{'error.lastname_required' | translate}}
            </span>
          </span>
          </p>
        </div>
        <div class="form-group" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched)}">
          <label>Email</label>
          <input [formControl]="email" type="email" class="form-control" placeholder="Email">
          <p class="form-error-message">
          <span *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors?.required">
              {{'error.email_required' | translate}}
            </span>
            <span *ngIf="email.errors?.pattern">
              {{'error.email_invalid' | translate}}
            </span>
          </span>
          </p>
        </div>
        <div class="form-group" [ngClass]="{'has-error': telephone.invalid && (telephone.dirty || telephone.touched)}">
          <label>Phone</label>
          <input [formControl]="telephone" type="text" class="form-control" placeholder="Phone Number">
          <p class="form-error-message">
          <span *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
            <span *ngIf="telephone.errors?.required">
              {{'error.phone_required' | translate}}
            </span>
            <span *ngIf="telephone.errors?.pattern">
              {{'error.phone_invalid' | translate}}
            </span>
          </span>
          </p>
        </div>
        <div>
          <button type="submit" class="btn btn-submit btn-primary" [disabled]="frm.invalid || submitted">Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

