:host /deep/ .status-button {
  width: 60px;

}

:host {
  .auth-content {
    margin: 0 auto;
    h1 {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 85px;
      line-height: .8em;
      font-size: 56px;
      font-weight: normal;
      text-align: center;
      font-family: raleway, sans-serif;
    }
    a {
      color: #1E5155;
      &:hover {
        text-decoration: underline;
      }
    }
    .form-group {
      label {
        font-size: 14px;
      }
    }
    //.form-control {
    //  height: 48px;
    //  font-size: 14px;
    //  line-height: 14px;
    //  text-align: left;
    //  padding: 0 12px;
    //  border: 1px solid #6EA4CA;
    //  border-radius: 0;
    //}
    .has-error .form-control {
      border: 1px solid #bf0000;
    }
    .form-error-message {
      font-family: Helvetica;
      color: #bf0000;
      font-size: 12px;
      line-height: 16px;
      font-weight: 300;
      text-align: left;
      padding-bottom: 16px;
      margin: 0;
      height: 0;
    }
    .btn-submit {
      height: 44px;
      margin-top: 14px;
      background: #1eabc7;
      color: #fff;
      font: normal normal normal 16px/1.4em tahoma, 'tahoma-w01-regular', 'tahoma-w02-regular', 'tahoma-w10-regular', 'tahoma-w15--regular', 'tahoma-w99-regular', sans-serif;
      border-radius: 0;
      transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
      &:hover {
        background: #147285;
      }
    }
  }
}
