:host {
  .box-item {
    height: 350px;
    padding: 20px;
    .box-item-container {
      border: 1px solid #b8b8b8;
      background: #ebebeb;
      height: 100%;
      text-align: center;
      padding: 5px;
      display: flex;
      flex-direction: column;
      .description {
        overflow: auto;
      }
      .service-name {
        border-bottom: 1px solid #aaa;
        padding: 5px 0 15px 0;
      }
    }
  }
}
