:host {
  .box-item {
    height: 350px;
    padding: 20px;
    .box-item-container {
      border: 1px solid #b8b8b8;
      background: #f7f5f5;
      height: 100%;
      text-align: center;
      padding: 0 5px 5px 5px;
      .description {
        height: 230px;
        overflow: auto;
        padding: 5px 10px;
        margin: 0;
      }
      .header-container {
        border-bottom: 1px solid #aaa;
        min-height: 65px;
        height: auto;
        flex-wrap: wrap;
        padding: 10px 0;
        display: flex;
        align-items: center;
        .img-service {
          margin: auto;
          img {
            height: 55px;
            width: 55px;
          }
        }
        .service-name {
          flex-grow: 1;
          text-overflow: ellipsis;
          word-wrap: break-word;
          .name {
            margin: 0 !important;
            text-align: left;
          }
        }
      }
    }
  }
}
