:host {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  .title-sub {
    margin-bottom: 10px;
  }
  .container-data {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    .container-frame {
      width: 50%;
      // overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  .footer-title {
    font-weight: bolder;
    margin-top: 10px;
    font-size: 0.9em;
  }

}
