@import '../../theme/sass/auth';

:host {
  .auth-main {
    background-color: $body-bg;
    .auth-content {
      margin-top: 135px !important;
    }
  }
  .terms-conditions {
    a {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .modal-dialog {
    max-width: 90%;
  }
}
