<div class="row portfolio-container">

  <div class="col-md-9">
    <div class="header-button pull-right">
      <a class="btn btn-primary btn-with-icon btn-service" title="Activate Services"
         [routerLink]="['/app/active-service']"
         placement="top" ngbTooltip="Tooltip on top">
        <i class="fa fa-plus"></i>
      </a>
      <a class="btn btn-primary btn-with-icon btn-service" title="Deactivate Services"
         [routerLink]="['/app/inactive-service']"
         placement="top" ngbTooltip="Tooltip on top">
        <i class="fa fa-minus"></i>
      </a>
    </div>
    <table class="table table-portfolio">
      <!--<thead>-->
      <!--<td>Company</td>-->
      <!--<td>Manager</td>-->
      <!--<td class="width-small">Active services</td>-->
      <!--</thead>-->

      <tbody>
      <tr *ngFor="let item of items">
        <td class="text-left">{{item.name}}</td>
        <td class="text-left">{{((item.manager && item.manager.firstName) ? item.manager.firstName:'') + ' ' +
          ((item.manager && item.manager.lastName) ?item.manager.lastName:'')}}
        </td>
        <td class="service-container">
          <div *ngFor="let i of item.services  | slice: 0 : 4" class="item" [class.disabled]="!i.reportId">
            <div class="image">
              <a [routerLink]="i.reportId?['/app/portfolio-detail/'+i.mappingId]:['']">
                <img [src]="i.imageUrl || 'assets/img/img-placeholder.jpg'" alt="">
              </a>
            </div>
          </div>
          <div *ngIf="item.services.length>4" class="item item-placeholder" (click)="viewAllServices(item)">
            <div class="image">
              +{{ item.services.length-4 }}
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="google-alert-panel">
    </div>
  </div>
</div>
