<div class="row portfolio-container">

  <div class="col-md-9">
    <div class="header-button pull-right">
      <a class="btn btn-primary btn-with-icon btn-service" title="Activate Services"
         [routerLink]="['/app/active-service']"
         placement="top" ngbTooltip="Tooltip on top">
        <i class="fa fa-plus"></i>
      </a>
      <a class="btn btn-primary btn-with-icon btn-service" title="Deactivate Services"
         [routerLink]="['/app/inactive-service']"
         placement="top" ngbTooltip="Tooltip on top">
        <i class="fa fa-minus"></i>
      </a>
    </div>
    <table class="table table-portfolio">
      <colgroup>
        <col width="25">
        <col>
        <col width="165">
        <col>
      </colgroup>
      <!--<thead>-->
      <!--<td>Company</td>-->
      <!--<td>Manager</td>-->
      <!--<td class="width-small">Active services</td>-->
      <!--</thead>-->

      <tbody>
      <tr *ngFor="let item of items" #listService>

        <td class="text-left">
          <a href="javascript:void(0)" (click)="gotoCustomisationView(item)" *ngIf="item.customSheetUrlCount">
            <img class="customisation-icon" src="assets/img/Customisation_icon.png" alt="">
          </a>
        </td>
        <td class="text-left">
          <div class="name-group">
            <div class="name">{{item.name}}</div>
          </div>
        </td>
        <td class="text-left text-nowrap">{{((item.manager && item.manager.firstName) ? item.manager.firstName:'') + ' '
          +
          ((item.manager && item.manager.lastName) ?item.manager.lastName:'')}}
        </td>
        <td class="service-container">
          <div
            *ngFor="let i of item.services  | slice: 0 : (item.services.length-maxViewItem===1?item.services.length: maxViewItem)"
            class="item" [class.disabled]="!i.reportId">
            <div class="image">
              <a [routerLink]="i.reportId?['/app/portfolio-detail/'+i.mappingId]:['']">
                <img [src]="i.imageUrl || 'assets/img/img-placeholder.jpg'" alt="">
              </a>
            </div>
          </div>
          <div *ngIf="item.services.length>(item.services.length-maxViewItem===1?item.services.length: maxViewItem)"
               class="item item-placeholder" (click)="viewAllServices(item)">
            <div class="image">
              +{{ item.services.length-maxViewItem }}
            </div>
          </div>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
  <div class="col-md-3">
    <div class="google-alert-panel">
    </div>
  </div>
</div>
