<div class="row customisation-container">
  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
    <select name="services" class="form-control" placeholder="Please select service to edit" [(ngModel)]="selectedService"
            (ngModelChange)="changeService($event)">
      <option value="" disabled>Please select service to edit</option>
      <option *ngFor="let service of customisationDetail?.services" [value]="service.id"
              [disabled]="!service.customSheetURL">{{ service.name }}
      </option>
    </select>
  </div>
  <div class="col-md-12 instruction"*ngIf="customSheetURL">
    Use the table below to amend key data used in your Activated Service reports
  </div>
</div>

<div class="iframe-container" *ngIf="customSheetURL">
  <div class="hidden-banner left"></div>
  <div class="hidden-banner top"></div>
  <div class="hidden-banner bottom-right sheet-color"></div>
  <iframe width="100%" height="100%" frameborder="0"
          [src]="customSheetURL"></iframe>
</div>
