/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '~nprogress/nprogress.css';

$progress-loader-color: #f8ff71;
#nprogress {
  .bar {
    height: 3px;
    background: $progress-loader-color !important;
  }
  .peg {
    box-shadow: 0 0 10px $progress-loader-color, 0 0 5px $progress-loader-color !important;
  }
  .spinner-icon {
    border-top-color: $progress-loader-color !important;
    border-left-color: $progress-loader-color !important;
  }
}
ngui-tooltip .tooltip-contents {
  border: 1px solid #ccc;
  padding: 5px;
}
ngui-tooltip .tooltip-down-arrow {
  height: 10px;
}
ngui-tooltip .tooltip-down-arrow:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 45%;
  bottom: 5px;
  background: #fff;
  border-left:1px solid #ccc;
  border-bottom:1px solid #ccc;
  transform:rotate(-45deg);
}

