<div class="header-button pull-right">
  <button class="btn btn-default btn-with-icon">
    <i class="fa fa-plus"></i>
  </button>
  <button class="btn btn-default btn-with-icon">
    <i class="fa fa-minus"></i>
  </button>
</div>
<table class="table table-porfolio">
  <thead>
  <td></td>
  <td>Owner</td>
  <td>Active services</td>
  </thead>

  <tbody>
  <tr *ngFor="let item of items">
    <td class="text-left">{{item.name}}</td>
    <td class="text-left">{{item.manager?.firstName + ' ' + item.manager?.lastName}}</td>
    <td class="service-container">
      <div *ngFor="let i of item.services" class="item">
        <div class="image">
          <img [src]="i.image" alt="">
        </div>
        <div class="content">
          {{i.name}}
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
